[submodule "vendor/github.com/Shopify/sarama"]
	path = vendor/github.com/Shopify/sarama
	url = https://github.com/Shopify/sarama
[submodule "vendor/github.com/davecgh/go-spew"]
	path = vendor/github.com/davecgh/go-spew
	url = https://github.com/davecgh/go-spew
[submodule "vendor/github.com/eapache/go-resiliency"]
	path = vendor/github.com/eapache/go-resiliency
	url = https://github.com/eapache/go-resiliency
[submodule "vendor/github.com/eapache/go-xerial-snappy"]
	path = vendor/github.com/eapache/go-xerial-snappy
	url = https://github.com/eapache/go-xerial-snappy
[submodule "vendor/github.com/eapache/queue"]
	path = vendor/github.com/eapache/queue
	url = https://github.com/eapache/queue
[submodule "vendor/github.com/elastic/beats"]
	path = vendor/github.com/elastic/beats
	url = https://github.com/elastic/beats
[submodule "vendor/github.com/elastic/go-lumber"]
	path = vendor/github.com/elastic/go-lumber
	url = https://github.com/elastic/go-lumber
[submodule "vendor/github.com/elastic/go-ucfg"]
	path = vendor/github.com/elastic/go-ucfg
	url = https://github.com/elastic/go-ucfg
[submodule "vendor/github.com/garyburd/redigo"]
	path = vendor/github.com/garyburd/redigo
	url = https://github.com/garyburd/redigo
[submodule "vendor/github.com/golang/snappy"]
	path = vendor/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "vendor/github.com/joeshaw/multierror"]
	path = vendor/github.com/joeshaw/multierror
	url = https://github.com/joeshaw/multierror
[submodule "vendor/github.com/jteeuwen/go-pkg-rss"]
	path = vendor/github.com/jteeuwen/go-pkg-rss
	url = https://github.com/jteeuwen/go-pkg-rss
[submodule "vendor/github.com/jteeuwen/go-pkg-xmlx"]
	path = vendor/github.com/jteeuwen/go-pkg-xmlx
	url = https://github.com/jteeuwen/go-pkg-xmlx
[submodule "vendor/github.com/klauspost/compress"]
	path = vendor/github.com/klauspost/compress
	url = https://github.com/klauspost/compress
[submodule "vendor/github.com/klauspost/cpuid"]
	path = vendor/github.com/klauspost/cpuid
	url = https://github.com/klauspost/cpuid
[submodule "vendor/github.com/klauspost/crc32"]
	path = vendor/github.com/klauspost/crc32
	url = https://github.com/klauspost/crc32
[submodule "vendor/github.com/libgit2/git2go"]
	path = vendor/github.com/libgit2/git2go
	url = https://github.com/libgit2/git2go
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "vendor/github.com/nranchev/go-libGeoIP"]
	path = vendor/github.com/nranchev/go-libGeoIP
	url = https://github.com/nranchev/go-libGeoIP
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/github.com/rcrowley/go-metrics"]
	path = vendor/github.com/rcrowley/go-metrics
	url = https://github.com/rcrowley/go-metrics
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
